snippet i "It {"
it { should ${1:do something} }
endsnippet

snippet b "before {"
before { ${1:do something} }
endsnippet

snippet bb "before do"
before do
  ${1:do something}
end
endsnippet

snippet s "specify {"
specify { ${1:do something} }
endsnippet

snippet e "expect {"
expect(${1:something}).${2:to} ${3:do_something}
endsnippet
